.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.933122;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.923844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.047838px;}
._2{width:3.420071px;}
._1{width:8.126125px;}
.fc4{color:rgb(123,123,123);}
.fc0{color:rgb(85,85,85);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(204,204,204);}
.fc3{color:rgb(66,139,202);}
.fs6{font-size:29.191980px;}
.fs2{font-size:32.264820px;}
.fs4{font-size:33.801240px;}
.fs3{font-size:42.251551px;}
.fs5{font-size:50.701861px;}
.fs1{font-size:59.152171px;}
.fs0{font-size:117.536131px;}
.y50{bottom:0.000000px;}
.y4{bottom:4.225155px;}
.y33{bottom:11.139044px;}
.y0{bottom:19.500000px;}
.y51{bottom:21.100429px;}
.y32{bottom:22.086037px;}
.y1{bottom:33.948415px;}
.y31{bottom:38.986657px;}
.y30{bottom:49.933650px;}
.y2f{bottom:60.880643px;}
.y2e{bottom:71.827635px;}
.y2d{bottom:88.728255px;}
.y2c{bottom:102.748088px;}
.yd{bottom:118.880498px;}
.y2b{bottom:137.317539px;}
.y2a{bottom:154.218159px;}
.y29{bottom:165.165151px;}
.y28{bottom:176.112144px;}
.y27{bottom:190.131977px;}
.yc{bottom:206.264387px;}
.y26{bottom:224.701427px;}
.y25{bottom:235.648420px;}
.y24{bottom:246.595412px;}
.y23{bottom:257.542405px;}
.y4b{bottom:258.118563px;}
.y22{bottom:268.489398px;}
.y4a{bottom:269.065555px;}
.y21{bottom:279.436390px;}
.y49{bottom:285.966175px;}
.y20{bottom:290.383383px;}
.y48{bottom:296.913168px;}
.y1f{bottom:301.330376px;}
.y1e{bottom:312.277368px;}
.y47{bottom:313.813788px;}
.y1d{bottom:329.177988px;}
.y46{bottom:330.714408px;}
.y1c{bottom:343.197821px;}
.y45{bottom:347.615029px;}
.yb{bottom:359.330231px;}
.y1b{bottom:377.767272px;}
.y4f{bottom:378.535482px;}
.y1a{bottom:392.747367px;}
.y19{bottom:403.694359px;}
.y18{bottom:414.641352px;}
.y17{bottom:425.588345px;}
.y44{bottom:428.277080px;}
.y16{bottom:436.535337px;}
.y43{bottom:441.912807px;}
.y15{bottom:447.482330px;}
.y42{bottom:455.548535px;}
.y14{bottom:458.429323px;}
.y41{bottom:469.184263px;}
.y13{bottom:469.376315px;}
.y12{bottom:480.323308px;}
.y40{bottom:482.819990px;}
.y11{bottom:491.270300px;}
.y10{bottom:502.217293px;}
.y4e{bottom:515.853021px;}
.yf{bottom:519.117913px;}
.ye{bottom:533.137746px;}
.y3f{bottom:537.939059px;}
.y3e{bottom:548.886051px;}
.ya{bottom:549.270156px;}
.y3d{bottom:559.833044px;}
.y3c{bottom:570.780036px;}
.y3b{bottom:581.727029px;}
.y4d{bottom:582.303187px;}
.y3a{bottom:592.674022px;}
.y39{bottom:603.621014px;}
.y9{bottom:604.965382px;}
.y38{bottom:614.568007px;}
.y7{bottom:621.097792px;}
.y37{bottom:625.515000px;}
.y36{bottom:636.461992px;}
.y8{bottom:640.110990px;}
.y35{bottom:647.408985px;}
.y6{bottom:656.243400px;}
.y34{bottom:658.355978px;}
.y4c{bottom:689.276430px;}
.y5{bottom:705.984998px;}
.y2{bottom:744.971656px;}
.y3{bottom:752.032721px;}
.h4{height:18.821145px;}
.hb{height:21.951001px;}
.h6{height:24.198615px;}
.h8{height:25.350930px;}
.h7{height:31.688663px;}
.ha{height:34.159999px;}
.h9{height:36.392449px;}
.h5{height:44.364128px;}
.h3{height:84.880829px;}
.h2{height:773.971584px;}
.h1{height:788.500000px;}
.h0{height:842.000000px;}
.w2{width:526.800014px;}
.w1{width:527.000000px;}
.w0{width:595.000000px;}
.x1{left:0.000000px;}
.x6{left:12.483413px;}
.x0{left:34.000000px;}
.x9{left:207.032598px;}
.x5{left:265.608611px;}
.x3{left:267.721188px;}
.x2{left:268.873503px;}
.x4{left:273.674816px;}
.x8{left:368.740805px;}
.x7{left:381.224217px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.397118pt;}
._2{width:4.560095pt;}
._1{width:10.834834pt;}
.fs6{font-size:38.922640pt;}
.fs2{font-size:43.019761pt;}
.fs4{font-size:45.068321pt;}
.fs3{font-size:56.335401pt;}
.fs5{font-size:67.602481pt;}
.fs1{font-size:78.869561pt;}
.fs0{font-size:156.714842pt;}
.y50{bottom:0.000000pt;}
.y4{bottom:5.633540pt;}
.y33{bottom:14.852059pt;}
.y0{bottom:26.000000pt;}
.y51{bottom:28.133905pt;}
.y32{bottom:29.448049pt;}
.y1{bottom:45.264553pt;}
.y31{bottom:51.982210pt;}
.y30{bottom:66.578200pt;}
.y2f{bottom:81.174190pt;}
.y2e{bottom:95.770180pt;}
.y2d{bottom:118.304341pt;}
.y2c{bottom:136.997451pt;}
.yd{bottom:158.507331pt;}
.y2b{bottom:183.090051pt;}
.y2a{bottom:205.624212pt;}
.y29{bottom:220.220202pt;}
.y28{bottom:234.816192pt;}
.y27{bottom:253.509302pt;}
.yc{bottom:275.019183pt;}
.y26{bottom:299.601903pt;}
.y25{bottom:314.197893pt;}
.y24{bottom:328.793883pt;}
.y23{bottom:343.389873pt;}
.y4b{bottom:344.158083pt;}
.y22{bottom:357.985864pt;}
.y4a{bottom:358.754074pt;}
.y21{bottom:372.581854pt;}
.y49{bottom:381.288234pt;}
.y20{bottom:387.177844pt;}
.y48{bottom:395.884224pt;}
.y1f{bottom:401.773834pt;}
.y1e{bottom:416.369824pt;}
.y47{bottom:418.418384pt;}
.y1d{bottom:438.903985pt;}
.y46{bottom:440.952545pt;}
.y1c{bottom:457.597095pt;}
.y45{bottom:463.486705pt;}
.yb{bottom:479.106975pt;}
.y1b{bottom:503.689695pt;}
.y4f{bottom:504.713975pt;}
.y1a{bottom:523.663156pt;}
.y19{bottom:538.259146pt;}
.y18{bottom:552.855136pt;}
.y17{bottom:567.451126pt;}
.y44{bottom:571.036106pt;}
.y16{bottom:582.047116pt;}
.y43{bottom:589.217076pt;}
.y15{bottom:596.643107pt;}
.y42{bottom:607.398047pt;}
.y14{bottom:611.239097pt;}
.y41{bottom:625.579017pt;}
.y13{bottom:625.835087pt;}
.y12{bottom:640.431077pt;}
.y40{bottom:643.759987pt;}
.y11{bottom:655.027067pt;}
.y10{bottom:669.623057pt;}
.y4e{bottom:687.804028pt;}
.yf{bottom:692.157218pt;}
.ye{bottom:710.850328pt;}
.y3f{bottom:717.252078pt;}
.y3e{bottom:731.848068pt;}
.ya{bottom:732.360208pt;}
.y3d{bottom:746.444058pt;}
.y3c{bottom:761.040049pt;}
.y3b{bottom:775.636039pt;}
.y4d{bottom:776.404249pt;}
.y3a{bottom:790.232029pt;}
.y39{bottom:804.828019pt;}
.y9{bottom:806.620509pt;}
.y38{bottom:819.424009pt;}
.y7{bottom:828.130389pt;}
.y37{bottom:834.020000pt;}
.y36{bottom:848.615990pt;}
.y8{bottom:853.481320pt;}
.y35{bottom:863.211980pt;}
.y6{bottom:874.991200pt;}
.y34{bottom:877.807970pt;}
.y4c{bottom:919.035241pt;}
.y5{bottom:941.313331pt;}
.y2{bottom:993.295542pt;}
.y3{bottom:1002.710294pt;}
.h4{height:25.094860pt;}
.hb{height:29.268001pt;}
.h6{height:32.264820pt;}
.h8{height:33.801240pt;}
.h7{height:42.251551pt;}
.ha{height:45.546665pt;}
.h9{height:48.523265pt;}
.h5{height:59.152171pt;}
.h3{height:113.174439pt;}
.h2{height:1031.962112pt;}
.h1{height:1051.333333pt;}
.h0{height:1122.666667pt;}
.w2{width:702.400019pt;}
.w1{width:702.666667pt;}
.w0{width:793.333333pt;}
.x1{left:0.000000pt;}
.x6{left:16.644550pt;}
.x0{left:45.333333pt;}
.x9{left:276.043463pt;}
.x5{left:354.144814pt;}
.x3{left:356.961584pt;}
.x2{left:358.498004pt;}
.x4{left:364.899755pt;}
.x8{left:491.654406pt;}
.x7{left:508.298956pt;}
}
